@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');


:root {
	--primary-color: #FF857C;
	--secundary-color: #63B0FF;
    --black-header: #252525;
    --navbarheight: 90px;
    --pinkgrandient: linear-gradient(91.2deg, #FF8076 45.94%, #F153FF 106.08%);


    --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
    --gray: #34495e;
    --darkgray: #2c3e50;

}


 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
  }


  /* ESTILOS DE NAVBAR */
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: var(--navbarheight);
  }
  
  .navbar-brand a {
    text-decoration: none;
  }
  
  .navbar-brand{
    display: flex;
  }


  /* BOTON DE LOGIN */

  .navbar-login {
    display: flex;
    align-items: center;
  }
  
  .navbar-login-btn {
    border: 2px solid #FF857C;
    background-color: transparent;
    border-radius: 11px;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: 500;
  }

  #Home{
    position: absolute;
    top: var(--navbarheight);
    left: 0;
    right: 0;
    bottom: 0;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }




/* Animacion del svg form*/

.contractAnimate svg{
    transition: transform 0.5s ease;
}

.contractAnimate svg:hover{
    transform: scale(1.05);
}

.contractAnimate{
    margin-bottom: 10px;
}


/* Estilos de parrafos dinamicos */

.content{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: flex-start;
    padding: 0vw 5vw;
    margin-bottom: 20px;
    margin-top: 8vh;
}

.editButtonHeader{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}

.content .editButtonHeader a{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.8;
}

.content .editButtonHeader a:hover{
    opacity: 0.4;
}

.renglon{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.renglon h1:nth-child(2){
    margin-left: 6px;
}

.AnimatedTitle1{
    color: var(--primary-color);
    
}

.AnimatedTitle2{
    color: var(--secundary-color);
}


.FormiGigantImput{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: fit-content;
    gap: 10px;

}


/* CONTENEDOR DEL FORM DINAMICO*/
.FormTitle{
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    color: #454545;
    display: flex;
    align-content: flex-start;
    margin-left: 5vw;
}

.content2{
    display: flex;
    flex-direction: column;
}

.subcontainer2{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

/*LABEL e input DINAMICOS*/
.labelcolored{
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    background-image: var(--pinkgrandient);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.inputbox{
    border: none;
    background-color: #ccc;
    padding: 10px;
    font-size: 18px;
    width: 90vw;
    margin-bottom: 10px;
}

.inputbox:focus{
    outline: 2px solid var(--primary-color);
}




/* FORMULARIO DINAMICO */
.personalInformationForm{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: fit-content;
    gap: 10px;
    box-sizing: border-box;
    margin-bottom: 80px;
}

form button{
    background: var(--pinkgrandient);
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: 500;
    width: 90vw;
    color: white;
    align-items: center;
    justify-content: center;
    
}

/* AQUI ESTILOS DE VERSIÓN WEB */

  @media (min-width: 768px) {
    .navbar {
      padding: 1rem 2rem;
    }

    h1{
        font-size: 40px;
    }
    form{
        position: relative;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }

    form button{
        width: auto;
        height: 38px;
        border-radius: 4px;
        position: absolute;
        right: 8%;
        transform: translateX(-40%);

    }

    .Maininput{
        width: 80vw;
        height: 80px;
    }
    .content{
        margin-left: 0vw;
        width: 100vw;
        align-items: center;
    }

    .content2{
        flex-direction: row;
    }

    .personalInformationForm{
        align-items: center;
        width: 60vw;
        gap: 10px;
        margin-bottom: 80px;
        
    }

    /*LABEL e input DINAMICOS*/
    .labelcolored{
        font-size: 19px;
    }
    

    .inputbox{
        border: none;
        background-color: #ccc;
        padding: 10px;
        font-size: 18px;
        width: 70%;
        margin-bottom: 10px;
    }

    .inputbox:focus{
        outline: 2px solid var(--primary-color);
    }

    form button{
        font-size: 22px;
        width: 300px;
        height: fit-content;
        position: relative;
        
    }
    .editButtonHeader{
        width: 48%;
    }

    .content .editButtonHeader a{
        font-size: 23px;
        
    }



  }